.page {
    width: 50%;
    margin: 0 auto;
}

#gamelist {
    display: inline;
    width: 100%;
}

.gamebutton {
    margin: 1em;
    padding: 2em;
    width: 33%;
    display: inline;
}

table  {
    width: 100%;
}

table {
    border: 1px solid grey;
    border-collapse: collapse;
}
th, td {
    padding: 0.3em;
    border: 1px solid #ccc;
}

tr:nth-child(even), thead {
    background-color: #ddd;
}

tr {
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
}

tr td:last-child{
    width:1%;
    white-space:nowrap;
}

#buttonwrapper {
    border: cyan thin;
    border-radius: 3px;
}

#buttonwrapper ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#buttonwrapper li {
    float: left;
}

#buttonwrapper li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#buttonwrapper li a:hover {
    background-color: #00AAFF;
}

h1, h2, h3 {
    color: #0055BB;
    font-family: "Droid Serif";
}

#footer {
    text-align: center;
}