<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='style.css') }}">
    <title>Polarbirds</title>
</head>
<body>


<div class="page">
    <div id="buttonwrapper">
        <ul>
            <li><a href="/leaderboards">Leaderboards</a></li>
            <li><a href="/home">KNAPP 2</a></li>
            <li><a href="#">KNAPP 3</a></li>
            <li><a href="#">KNAPP 4</a></li>
        </ul>
    </div>
    {% block body %}{% endblock %}
</div>
<div id="footer">
    <i>Polarbirds 2016</i>
</div>


</body>
</html>